%section.depot_form
  - if flash[:alert]
    %aside.notice= flash[:alert]
  = form_tag do
    %h2 Please Log In
    .field
      = label_tag :name, 'Name:'
      = text_field_tag :name, params[:name]
    .field
      = label_tag :password, 'Password:'
      = password_field_tag :password, params[:password]
    .actions
      = submit_tag "Login"
